<div id='card-preview' class='card-preview'>
  <div class='card-preview__image'>
    <img class='card-preview__image_img' src={{movie.cardImage}} alt='' />
  </div>
  <div class='card-preview__info'>
    <span>{{movie.title}}</span>
    <span>{{movie.releaseDate}}</span>
    <span>{{movie.rating}}</span>

  </div>
  {{!-- {{movie}} --}}
</div>