<div class='movie-description'>
  <div class='movie-description__container'>
    <div class='movie-description__wrapper'>
      <div class='movie-description__content'>
        <img class='movie-description__title' src={{movie.titleImage}} alt='' />
        <div class='movie-description__info'>
          <span class='rating'>{{movie.rating}}</span>
          <span class='movie-description__info_text'>{{movie.releaseDate}},
            {{movie.country}}
          </span>
        </div>
        <p class='movie-description__text'>{{movie.shortDescription}}</p>
        <p class='movie-description__persons'>
          <span class='movie-description__info_text'>
            Режиссёр:
          </span>

          <span class='movie-description__info_text'>
            {{movie.director}}
          </span>
        </p>

        <div class='movie-description__actions'>
          <button
            id='show-movie-btn'
            class='button movie-description__actions_show_btn'
          >Смотреть</button>
          {{! TODO: Совместный просмотр в разработке }}
          {{!-- {{#if isUserAuth}}
            <button
              id='watch-together-btn'
              class='button movie-description__actions_show_together_btn'
            >Смотреть вместе</button>
          {{/if}} --}}

          {{#if isUserAuth}}
            <span
              id='favorites-movie-btn'
              class='movie-description__actions_favorites_btn'
            ></span>
            <span
              id='mobile-rate-movie-btn'
              class='movie-description__actions_rate_btn'
            ></span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class='movie-description__image'>
      <div class='movie-description__image_overlay'></div>
      <img
        class='movie-description__image_img'
        src={{movie.albumImage}}
        alt='movie-image'
      />
    </div>
  </div>
</div>