<div id='movie-big-card-{{movie.id}}' class='movie-big-card'>
  <img class='movie-big-card__image' src={{movie.albumImage}} alt='card' />
  <div class='movie-big-card__desc'>
    <span class='movie-big-card__desc_title'>{{movie.title}}</span>
    <div class='movie-big-card__desc_stats'>
      <span>{{movie.country}}</span>
      <span>{{movie.releaseDate}}</span>
      <span>{{movie.rating}}</span>
    </div>
  </div>
</div>