<div id='movie-big-card-{{movie.id}}' class='movie-big-card'>
  <img class='movie-big-card__image' src={{movie.albumImage}} alt='card' />
  <div class='movie-big-card__desc'>
    <span class='movie-big-card__desc_title'>{{movie.title}}</span>
    <div class='movie-big-card__desc_stats'>
      <span>{{movie.country}}</span>
      <span>{{movie.releaseDate}}</span>
      <div class=''>
        <span>{{movie.rating}}</span>
        <img
          class='movie-big-card__star-icon'
          src='/assets/icons/starIconWhite.svg'
          alt=''
        />
      </div>

    </div>
  </div>
</div>