<div class='card'>
  <div class='card__overlay'>
    <span class='card__overlay_rating'>{{movie.rating}}</span>
    <span class='card__overlay_about'>{{movie.country}}</span>

    {{!-- <span>{{this.movie.createdAt}}</span> --}}

  </div>
  <span class='card__position'>{{movie.position}}</span>
  <img class='card__image' src={{movie.cardImage}} alt='card' />
  {{!-- <span class='card__rating'>{{movie.rating}}</span> --}}
</div>