<div>
  <h4 class='main-page__block_title'>{{title}}</h4>
  <div class='slider'>
    <button id='slider-btn-prev-{{this.type}}-{{this.id}}' class='slider__btn'>
      <svg
        class='slider__btn_icon slider__btn_prev-icon'
        width='16'
        height='32'
        viewBox='0 0 9 16'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M0.999999 1L8 8L1 15'
          stroke='#fff'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        />
      </svg>
    </button>
    <div class='slider__container'>
      <div id='slider-{{this.type}}-{{this.id}}' class='slider__track'></div>
    </div>
    <button
      id='slider-btn-next-{{this.type}}-{{this.id}}'
      class='slider__btn slider__btn_next'
    >
      <svg
        class='slider__btn_icon slider__btn_next-icon'
        width='16'
        height='32'
        viewBox='0 0 9 16'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M0.999999 1L8 8L1 15'
          stroke='#fff'
          stroke-width='2'
          stroke-linecap='round'
          stroke-linejoin='round'
        />
      </svg>
    </button>
  </div>
</div>