<div class='header'>
  <div class='header__container'>
    <div class='header__container_logo'>

      <span>Cassette</span>
    </div>
    <div id='inin'>in</div>

    <div class='header__container_nav'>
      {{#each items}}
        {{#if this.isAvailable}}
          <a
            class='header__container_item {{this.className}}'
            href='{{this.href}}'
            id='{{this.id}}'
            data-section='{{this.key}}'
          >{{this.text}}</a>{{/if}}
      {{/each}}
    </div>
    {{#if currentUser.username}}
      <span>{{currentUser.username}}</span>
      <span id='exit-button'>Выйти</span>
    {{/if}}
  </div>
</div>