<div id='header' class='header'>
  <div class='header__container'>
    <div class='header__container_logo'>
      <span>Cassette</span>
    </div>

    <div class='header__container_nav'>
      {{#each navItems}}
        {{#if this.isAvailable}}
          <a
            class='header__container_item {{this.className}}'
            href='{{this.href}}'
            id='{{this.id}}'
            data-section='{{this.key}}'
          >{{this.text}}</a>{{/if}}
      {{/each}}
    </div>
    {{#if isUserAuth}}
      <div class='header__container_auth'>
        <a
          class='header__container_item {{profileItem.className}}'
          href='{{profileItem.href}}'
          id='{{profileItem.id}}'
          data-section='{{profileItem.key}}'
        >
          <div class='header__container_avatar'>
            <img
              class='header__container_avatar_img'
              src={{currentUser.avatar}}
              alt='userIcon'
            />
          </div>

        </a>

      </div>
    {{/if}}
  </div>
</div>